body {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(31, 31, 184);
}

ul {
    max-width: 25%;
    padding: 0px 0px;
}

li {
    list-style: none;
    border: 0px;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 5px 5px;
}


ul li:nth-child(odd) {
    background-color: rgb(246, 246, 247);
}

ul li:nth-child(even) {
    background-color: rgb(189, 199, 238);
}


ul li:hover {
    background-color: rgb(86, 86, 253);
}

ul li:hover>a {
    color: rgb(247, 247, 247);
}

ul li a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(31, 31, 184);
}

h1 {
    text-align: center;
}